<div class="app-body">
        

        <!-- Main content -->
        <main class="main">
            
           

            <div class="container-fluid">
                <div class="animated fadeIn">
                 
				<div class="jumbotron">
					<h1 class="display-5">Componenti demo per <strong>servizi.gov.it</strong></h1>
					<hr class="my-4">
					<ul class="list-group">
						<li class="list-group-item"><a href="/dashboard">Dashboard default</a></li>
						<li class="list-group-item"><a href="#">Servizio caricato da SPID</a></li>
					</ul>					
				</div>
                   
                    
                </div><!-- / animate fadeIn -->
            </div><!-- / container-fluid -->
            
        </main>

       
        <!-- il menù aside forse non serve vedremo -->
        <aside class="aside-menu">
            

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="timeline" role="tabpanel">
                    <div class="callout m-0 py-2 text-center bg-faded text-uppercase">
                        <small><b>Storico azioni</b>
                        </small>
                    </div>
                    <hr class="transparent mx-3 my-0">
                    <div class="callout callout-warning m-0 py-3">
                        <div><strong>Aggiunto servizio:</strong> "Lorem ipsum dolor sit"
                        </div>
						<div><small class="text-guida mr-3"><i class="icon-calendar"></i>&nbsp; 16/07/2017</small></div>
						<div><small class="text-guida"><i class="icon-user"></i>&nbsp; Umberto Rosini</small></div>
                    </div>
                    <hr class="mx-3 my-0">
                    <div class="callout callout-info m-0 py-3">
                        
                        <div><strong>Aggiunto servizio:</strong> "Lorem ipsum dolor sit"
                        </div>
						<div><small class="text-guida mr-3"><i class="icon-calendar"></i>&nbsp; 16/07/2017</small></div>
						<div><small class="text-guida"><i class="icon-user"></i>&nbsp; Umberto Rosini</small></div>
                    
                    </div>
                    <hr class="transparent mx-3 my-0">
                    
                </div>
                
            </div>
        </aside>


    </div>