<div class="app-body">


    <!-- Main content -->
    <main class="main">



        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-block">
                            <h1 class="display-5">Componenti demo per
                                <strong>servizi.gov.it</strong>
                            </h1>
                            <hr class="my-4">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="/dashboard">Dashboard default</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Servizio caricato da SPID</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- / animate fadeIn -->
        </div>
        <!-- / container-fluid -->

    </main>


</div>