<div class="app-body">


    <!-- Main content -->
    <main class="main">
        <nav aria-label="breadcrumb" role="navigation">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item">Nuovo servizio</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <p>Da qui puoi iniziare a descrivere il
                    <strong>nuovo servizio</strong> della tua amministrazione. Hai due modalità per farlo, una
                    <strong>veloce</strong> e una
                    <strong>completa</strong>. Nella modalità di immissione completa avrai a disposizione una serie di opzioni più
                    dettagliate che ti consentirà di creare istanze di servizi di maggiore qualità.</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <h2 class="card-header">
                                <strong>
                                    <span class="icon-magic-wand"></span> Procedura veloce</strong>
                            </h2>
                            <div class="card-block">
                                <p class="align-left">Puoi usare questa funzione se:</p>
                                <ul>
                                    <li class="align-left">Stai usando per la prima volta questo servizio.</li>
                                    <li class="align-left">Voi descrivere velocemente tutti i servizi per poi completare la compilazione in un secondo
                                        momento.
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="spanTextSceltaServizio">Creazione di servizi esposti ai cittadini</span>
                                    </div>
                                    <div class="col-md-5">
                                        <a class="btn btn-primary btn-clean mt-3 btnSceltaServizio" serviceFor="EXT" onclick="setFastProcedure(true, this)" href="/servizi/service-wizard1"
                                            title="Carica velocemente il tuo servizio">
                                            <span>Servizio al cittadino</span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="spanTextSceltaServizio">Creazione servizi interni alla PA</span>
                                    </div>
                                    <div class="col-md-5">
                                        <a class="btn btn-primary btn-clean mt-3 btnSceltaServizio" serviceFor="INT" onclick="setFastProcedure(true, this)" href="/servizi/service-wizard2/"
                                            title="Carica velocemente il tuo servizio">
                                            <span>Servizio interno</span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="spanTextSceltaServizio">Creazione servizi tra due PA</span>
                                    </div>
                                    <div class="col-md-5">
                                        <a class="btn btn-primary btn-clean mt-3 btnSceltaServizio" serviceFor="PA2PA" onclick="setFastProcedure(true, this)" href="/servizi/service-wizard2/"
                                            title="Carica velocemente il tuo servizio">
                                            <span>Servizio Infra</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <h2 class="card-header">
                                <strong>
                                    <span class="icon-plus"></span> Procedura completa</strong>
                            </h2>
                            <div class="card-block">
                                <p class="align-left">Puoi usare questa funzione se:</p>
                                <ul>
                                    <li class="align-left">Sei a conoscenza almeno di tutti i dati obbligatori all'interno della form di inserimento.</li>
                                    <li class="align-left">Vuoi argomentare maggiormente il tuo servizio per renderlo più chiaro.
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="spanTextSceltaServizio">Creazione di servizi esposti ai cittadini</span>
                                    </div>
                                    <div class="col-md-5">
                                        <a class="btn btn-primary btn-clean mt-3 btnSceltaServizio" serviceFor="EXT" onclick="setFastProcedure(false, this)" href="/servizi/service-wizard-complete1"
                                            title="Crea il tuo servizio">
                                            <span>Servizio al cittadino</span></a>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="spanTextSceltaServizio">Creazione servizi interni alla PA</span>
                                    </div>
                                    <div class="col-md-5">

                                        <a class="btn btn-primary btn-clean mt-3 btnSceltaServizio" serviceFor="INT" onclick="setFastProcedure(false, this)" href="/servizi/service-wizard-complete2/"
                                            title="Crea il tuo servizio">
                                            <span>Servizio interno</span></a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="spanTextSceltaServizio">Creazione servizi tra due PA</span>
                                    </div>
                                    <div class="col-md-5">
                                        <a class="btn btn-primary btn-clean mt-3 btnSceltaServizio" serviceFor="PA2PA" onclick="setFastProcedure(false, this)" href="/servizi/service-wizard-complete2/"
                                            title="Crea il tuo servizio">
                                            <span>Servizio Infra</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>