<script src="/js/dashboard.js"></script>
<script src="/js/dashboardArchiviati.js"></script>


<div class="app-body">
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <div class="animated ">
                <!-- / Area della PA - nome, quality e utility -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-5">
                            











                            <div class="card-block">
                                <ul class="nav nav-tabs" id="tabModalAdd" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="home" aria-expanded="true">Servizi</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#dashboardArchiviati" role="tab" aria-controls="profile">Servizi archiviati</a>
                                    </li>

                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="home-tab">
<div class="card-header">
                                {{!--
                                <h2>Gestione Servizi</h2> --}}
                                <h2>Servizi PA:
                                    <strong id="paName"></strong>
                                </h2>
                                <h2 style="display:  inline-flex;">Servizi caricati:
                                    <div class="h5pa-totalnumber" id="serviceCount"></div>
                                </h2>
                            </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <a href="/servizi/service-new" class="btn btn-primary pa-add-service">
                                                    <i class="icon-plus icons font-2xl"></i> Aggiungi un nuovo servizio</a>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="input-group pa-search-group">
                                                    <label for="search" class="sr-only">Cerca tra i servizi</label>
                                                    <input type="text" id="search" name="search" class="form-control" placeholder="Cerca tra i servizi caricati">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary">VAI</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-hover table-outline mb-0">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th scope="col" class="pa-servicename">Nome servizio</th>
                                                    <th scope="col" class="pa-quantity">Quantità</th>
                                                    <th scope="col" class="pa-quality">Qualità</th>
                                                    <th scope="col" class="text-center pa-action">Azioni</th>
                                                </tr>
                                            </thead>
                                            <tbody id="serviceBody">

                                            </tbody>
                                        </table>
                                        <div id="servContainerD">

                                        </div>



                                    </div>
                                    <div class="tab-pane fade" id="dashboardArchiviati" role="tabpanel" aria-labelledby="profile-tab">
<div class="card-header">
                                {{!--
                                <h2>Gestione Servizi</h2> --}}
                                <h2>Servizi PA:
                                    <strong id="paNameArchiviati"></strong>
                                </h2>
                                <h2 style="display:  inline-flex;">Servizi archiviati:
                                    <div class="h5pa-totalnumber" id="serviceCountArchiviati"></div>
                                </h2>
                            </div>

           <div class="row mb-3">
                                    {{!-- <div class="col-md-6">
                                        <a href="/servizi/service-new" class="btn btn-primary pa-add-service">
                                            <i class="icon-plus icons font-2xl"></i> Aggiungi un nuovo servizio</a>
                                    </div> --}}

                                    <div class="col-md-6 offset-md-6">
                                        <div class="input-group pa-search-group">
                                            <label for="search" class="sr-only">Cerca tra i servizi</label>
                                            <input type="text" id="search" name="search" class="form-control" placeholder="Cerca tra i servizi archiviati">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary">VAI</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-hover table-outline mb-0">
                                    <thead class="thead-default">
                                        <tr>
                                            <th scope="col" class="pa-servicename">Nome servizio</th>
                                            <th scope="col" class="pa-quantity">Stato</th>
                                            <th scope="col" class="text-center pa-action">Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody id="serviceBodyArchiviati">

                                    </tbody>
                                </table>
                                <div id="servContainerDArchiviati">

                                </div>



                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div>


        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>