<script src="/js/dashboardArchiviati.js"></script>

<div class="app-body">
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <div class="animated ">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2>Servizi PA:
                                    <strong id="paName"></strong>
                                </h2>
                            </div>
                            <div id="pa-info" class="card-block">
                                <div class="row">

                                    <div class="col-md-4">
                                        <!-- totale servizi -->
                                        <div class="card-block p-3 clearfix">
                                            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
                                            <div class="h5 text-primary mb-0 mt-2 pa-totalnumber" id="serviceCount"></div>
                                            <div class="text-guide font-weight-bold font-xs">Servizi caricati</div>
                                        </div>
                                        <!-- /totale servizi -->
                                    </div>

                                    <div class="col-md-5">

                                        <div class="card-block p-3 clearfix">
                                            <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left"></i>
                                            <div class="h5 text-info mb-0 mt-2 pa-totalnumber">Avvisi</div>
                                            <div class="text-guide font-weight-bold font-xs">Non ci sono avvisi</div>
                                        </div>

                                    </div>

                                    <div class="col-md-3">
                                        <p>Indice di qualità generale
                                            <a href="#" title="Informazioni sulla qualità">
                                                <i class="icon-info icons"></i>
                                            </a>
                                        </p>
                                        <p class="sr-only">Indice di qualità: 4 su 5</p>
                                        <i class="fa fa-star fa-2x fa-star-agidrate" aria-disabled="true"></i>
                                        <i class="fa fa-star fa-2x fa-star-agidrate" aria-disabled="true"></i>
                                        <i class="fa fa-star fa-2x fa-star-agidrate" aria-disabled="true"></i>
                                        <i class="fa fa-star-half-full fa-2x fa-star-agidrate" aria-disabled="true"></i>
                                        <i class="fa fa-star-o fa-2x fa-star-agidrate" aria-disabled="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Area della PA - nome, quality e utility -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2>Gestione Servizi</h2>
                            </div>
                            <div class="card-block">



                                <div class="row mb-3">
                                    {{!-- <div class="col-md-6">
                                        <a href="/servizi/service-new" class="btn btn-primary pa-add-service">
                                            <i class="icon-plus icons font-2xl"></i> Aggiungi un nuovo servizio</a>
                                    </div> --}}

                                    <div class="col-md-6 offset-md-6">
                                        <div class="input-group pa-search-group">
                                            <label for="search" class="sr-only">Cerca tra i servizi</label>
                                            <input type="text" id="search" name="search" class="form-control" placeholder="Cerca tra i servizi caricati">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary">VAI</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-hover table-outline mb-0">
                                    <thead class="thead-default">
                                        <tr>
                                            <th scope="col" class="pa-servicename">Nome servizio</th>
                                            <th scope="col" class="pa-quantity">Stato</th>
                                            <th scope="col" class="text-center pa-action">Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody id="serviceBody">

                                    </tbody>
                                </table>
                                <div id="servContainerD">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div>


        </div>
        <!-- /.conainer-fluid -->
    </main>


    <!-- il menù aside forse non serve vedremo -->
    {{!--
    <aside class="aside-menu">


        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="timeline" role="tabpanel">
                <div class="callout m-0 py-2 text-center bg-faded text-uppercase">
                    <small>
                        <b>Storico azioni</b>
                    </small>
                </div>
                <hr class="transparent mx-3 my-0">
                <div class="callout callout-warning m-0 py-3">
                    <div>
                        <strong>Aggiunto servizio:</strong> "Lorem ipsum dolor sit"
                    </div>
                    <div>
                        <small class="text-guida mr-3">
                            <i class="icon-calendar"></i>&nbsp; 16/07/2017</small>
                    </div>
                    <div>
                        <small class="text-guida">
                            <i class="icon-user"></i>&nbsp; Umberto Rosini</small>
                    </div>
                </div>
                <hr class="mx-3 my-0">
                <div class="callout callout-info m-0 py-3">

                    <div>
                        <strong>Aggiunto servizio:</strong> "Lorem ipsum dolor sit"
                    </div>
                    <div>
                        <small class="text-guida mr-3">
                            <i class="icon-calendar"></i>&nbsp; 16/07/2017</small>
                    </div>
                    <div>
                        <small class="text-guida">
                            <i class="icon-user"></i>&nbsp; Umberto Rosini</small>
                    </div>

                </div>
                <hr class="transparent mx-3 my-0">

            </div>

        </div>
    </aside> --}}


</div>