<script src="/js/index.js"></script>
<div class="app-body">


    <!-- Main content -->
    <main class="main">
        <div class="container-fluid" id="amm">
            <div class="animated">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-5">
                            <div class="card-block">
                                <div class="card-header">


                                    <h1 class="display-5">Amministrazioni autorizzate</h1>
                                    <h5>Seleziona l'amministrazione dall'elenco per proseguire</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            {{#if user.isSuperAdmin}}
                                            <input type="text" name="paAutorizzate" class="form-control" id="paAutorizzate" data-placeholder="Cerca Applicazione" /> {{else}}
                                            <select name="paAutorizzate" class="form-control" id="paAutorizzate">
                                                {{#each user.organizzazioni}}
                                                <option itemcode="{{this.codiceIpa}}">{{this.description}}</option>
                                                {{/each}} {{/if}}
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <div id="components" hidden="hidden">
                                                <button class="btn btn-primary" id="dashboardRedirect" type="button">Vai</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
</div>
</main>

</div>